<h1>Página principal</h1>
<hr>
<div class="jumbotron">
  <h1 class="display-4">Bem-vindo ao blog de teste Node.JS</h1>
  <p class="lead">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
  <hr class="my-4">
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi non blandit mi. Maecenas commodo ligula et nulla pellentesque luctus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum commodo pulvinar mollis. Nam sodales quam vel urna suscipit placerat. Suspendisse sit amet vestibulum turpis. Aliquam erat volutpat. Nunc ac metus sit amet turpis feugiat lacinia. Donec purus diam, malesuada in turpis at, fringilla accumsan metus. </p>
  <a class="btn btn-primary btn-lg" href="#" role="button">Cadastre-se</a>
</div>
<hr>
<h2>Postagens recentes:</h2>
{{#each postagem}}
    <div class="card-deck"> 
        <div class="card mt-4">
            <div class="card-body">
                <h5 class="card-title">{{titulo}}</h5>
                <p class="card-text"><small class="text-muted">{{descricao}}</small></p>
                <p class="card-text">{{conteudo}}</p>
            </div>
        </div>
    </div>
{{else}}
    <h3>Nenhuma postagem recente...</h3>
{{/each}}
